@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-neutral-900: hsl(275, 75%, 14%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);

  --color-Red-400: hsl(2, 86%, 64%);
  --color-Red-500: hsl(3, 71%, 56%);
  --color-Red-700: hsl(3, 77%, 44%);
  --color-light-from: #ebf2fc;
  --color-light-to: #eef8f9;
  --color-dark-from: #040918;
  --color-dark-to: #091540;

  --text-paragraph: 16px;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: "Noto Sans", sans-serif;
}
